<ul class="nav">
  {{#if isPortfolio}}
    <li class="portfolio active"><a href="/portfolio">Portfolio</a></li>
  {{else}}
    <li class="portfolio"><a href="/portfolio">Portfolio</a></li>
  {{/if}}
  {{#if isExp}}
    <li class="exp active"><a href="/exp">Experience</a></li>
  {{else}}
    <li class="exp"><a href="/exp">Experience</a></li>
  {{/if}}
  {{#if isAbout}}
    <li class="about active"><a href="/about">About</a></li>
  {{else}}
    <li class="about"><a href="/about">About</a></li>
  {{/if}}
</ul>