<ul class="nav">
  {{#if isPortfolio}}
    <li class="portfolio active"><a href="/portfolio">Portfolio</a></li>
  {{else}}
    <li class="portfolio"><a href="/portfolio">Portfolio</a></li>
  {{/if}}
  <li class="exp"><a href="/exp">Experience</a></li>
  <li class="about"><a href="/about">About</a></li>
</ul>