<section class="section_1">
  <div class="main_block">
    <div class="info">
      <h1 class="info_title">
        Hi <br />
        I'm <b>Vitaly</b>
      </h1>
      <p class="info_desc">
        Front-end developer
      </p>
      <ul class="contacts">
        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-skype"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-slack"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-reddit-alien"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
      </ul>
    </div>
  </div>
  {{>navigation}}
</section>