<section class="section_2">
  <h1>{{this.page.title}}</h1>
  <ul class="portfolio_list">
    {{#each this.page.description}}
      <li class="portfolio_item"><a href="{{this.href}}" target="_blank"><img src="{{this.src}}" alt=""><p>{{this.domain}}</p></a></li>
    {{/each}}
  </ul>
</section>